# Tmp files/Project files
.DS_Store
*~
.tscache/
.baseDir.js
.baseDir.ts
.recognizer
node_modules/
tscommand*.txt
yimello.sublime-workspace

# Special files & folders
release/
backup.json

# Transpiled files
app/ui/js/output.js
testing/out
**/*.css


*.cfg
