@import 'normalize';
@import 'utils';
@import 'fonts';

$img-folder: '../img/';
$app-width: 800px;
$app-height: 525px;
$header-height: 25px;
$body-height: $app-height - $header-height;

$red: #dd381d;
$green: #7eb530;
$orange: #eb6c17;
$yellow: #f6e741;
$blue : #22a8e8;
$black : #3d3e44;

body {
    position: absolute;
    top: 0;
    left: 0;

    overflow: hidden;

    width: 100%;
    height: 100%;
    margin: 0;

    -webkit-user-select: none;
}

a {
    text-decoration: none;

    color: inherit;
    &:hover {
        text-decoration: none;
    }
    &:visited {
        color: inherit;
    }
}

.header {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;

    width: 100%;
    height: $header-height;

    cursor: pointer;

    background-color: #eee;

    -webkit-app-region: drag;
    ul {
        margin: 5px 20px;
        padding: 0;

        list-style-type: none;
        li {
            display: inline-block;

            margin: 0 5px;
            padding: 0;

            -webkit-app-region: no-drag;

            @include border-radius(50%);

            &:hover {
                opacity: .60;
            }
        }
    }
}

.body {
    position: absolute;
    z-index: 1;
    top: $header-height;
    left: 0;

    width: 100%;
    height: $body-height;

    opacity: 0;
}

.notifier {
    position : fixed;
    z-index : 99;
    display : none;
    width : 200px;

    &.inform {
        background-color : $blue;
    }

    &.warn {
        background-color : $orange;
    }

    &.alert {
        background-color : $red;
    }

    .notifier-content {
        background-color : white;
        width : 195px;
        margin : 0 0 0 5px;
        padding : 10px 15px;
        @include box-sizing(border-box);

        font : {
            family : $oxygen;
            size : 0.8em;
        }

        color : $black;
    }
}

// .error-message {
//  position : absolute;
//  top : 10px;
//  right : 30px;

//  max-width : 300px;

//  display : none;
//  z-index : 0;
//  background-color : #7EB530;
//  @include border-radius(10px);

//  p {
//      margin : 10px 15px;

//      font : {
//          family : $ptSans;
//          size : 0.9em;
//      }

//      color : white;
//  }

//  &.error {
//      background-color : #DD381D;
//  }

//  &.warning {
//      background-color : #EB6841;
//  }
// }