@import "common";

.body {
	background: url($img-folder + 'background.png');
	background-position: center;
}

.strap-wrapper, .hexagon {
	position: absolute;
}

.hexagon {
	opacity : 0;
	z-index : 1;
}

.strap-wrapper {
	text-align : center;
}

.intro-strap {
	z-index : 2;
}

.update-notification {
	width : 300px;

	opacity : 0;

	.gift, h1 {
		margin : 0;
	}

	.gift {
		float : left;
		margin-right : 10px;
	}

	h1 {
		font : {
			family : $oxygen;
			size : 1.3em;
		}

		color : white;
	}	
}

