@import "common";

.body {
	background: url($img-folder + 'intro-background.png');
}

@-webkit-keyframes pulse {
	0% {
		opacity : 1;
	}
	100% {
		opacity : 0.25;
	}
}

@keyframes pulse {
	0% {
		opacity : 1;
	}
	100% {
		opacity : 0.25;
	}
}

.update-icon {
	background-color : transparentize(black, .5);
	opacity : 0;
	position : absolute;
	cursor : pointer;

	@include border-radius(50%);

	&.pulse {
		-webkit-animation: pulse 1s alternate infinite ease-in-out;
		animation : pulse 1s alternate infinite ease-in-out;
	}
}

