@import "common";

.body {
	background: url($imgFolder + 'patchwork_bg.jpg');
	background-position: center;
}

.intro-strap, .hexagon {
	position: absolute;
}

.intro-strap {
	z-index : 2;
}

.hexagon {
	opacity : 0;
	z-index : 1;
}