@import "common";

$black: #333333;
$blue: #0c7cbb;
$lightBlue : #22A8E8;

.main-view-wrapper {
	position: absolute;
	top: 0px;
	left: 0px;

	width: 100%;
	height: 100%;
}

.panel-wrapper {
	position: absolute;
	top: 0px;
	left: 0px;

	width: 25%;
	height: 100%;

	background-color: $black;

	.icon-wrapper, .tag-list {
		display: inline-block;
	}

	.icon-wrapper {
		width: 100%;
		padding: 10px 0px;

		border-bottom: 3px solid rgba(0, 0, 0, 0.2);
	}

	.tag-list {
		width: 100%;
		margin: 30px 0 0 0;
	}
}

.panel-wrapper .icon-wrapper .icons {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;

	.icon {
		display: inline-block;
		vertical-align: middle;
		padding: 5px 10px;
		cursor: pointer;
	}
}

.panel-wrapper .tag-list .tags {
	list-style-type: none;
	margin: 0;
	padding: 0px 0px 0px 15px;

	li {
		font: {
			family: $ptSans;
			size: 1em;
		}

		margin: 10px 0px;

		color: white;
		cursor: pointer;
	}
}

.bookmark-wrapper {
	position: absolute;
	top: 0px;
	left: 25%;

	width: 75%;
	height: 90%;

	background-color: white;

	ul {
		margin : 0;
		padding : 0;
		width : 100%;
		height: 100%;

		list-style-type : none;
		overflow : auto;
		
		li {
			vertical-align : middle;

			display : inline-block;
			padding: 10px 15px;
			width: 33.3%;
			height: 33.3%;
			@include box-sizing(border-box);

			text-align : center;

			cursor: pointer;
			@include transition(background-color, 0.5s, ease);

			&:hover {
				background-color : #eee;
			}
		}
	}
}

.bookmark-wrapper ul li {
	h3 {
		margin: 0;

		font: {
			size: 1em;
			family : $ptSans;
		}

		color: $black;		
	}

	p {
		font: {
			size: 0.8em;
			family : $ptSans;
		}
		text-align: justify;

		color: #ccc;
	}
}

.search-wrapper {
	position: absolute;
	top: 90%;
	left: 25%;

	width: 75%;
	height: 10%;

	background-color : $blue;

	img, form {
		display: inline-block;
		vertical-align: middle;
	}

	img {
		margin: 10px 20px;
	}

	form {
		height: 100%;
		width: $appWidth * 0.75 - 95px;

		@include placeholder-color(transparentize(white, 0.5));
	}
}

.search-wrapper form input {
	width: 100%;
	height: 100%;
	padding: 5px 10px;
	@include box-sizing(border-box);

	font: {
		family: $ptSans;
		size: 1em;
	}

	outline: none;
	border : none;
	background: none;
	color: white;
}

.bookmark-form-wrapper {
	position: absolute;
	top: 0;
	left: 100%;

	width: 100%;
	height: 100%;

	background-color : $black;

	ul {
		margin: 0;
		padding: 0;
		width: 100%;
		height: 100%;

		list-style-type : none;

		li {
			padding: 0;
			display : inline-block;
			height: 100%;

			vertical-align : top;

			&.column {
				width: 32px;
				padding: 0 20px;

				text-align : center;
			}
		}
	}

	form {
		margin: 15px 0;
		padding: 0 25px;
		width: $appWidth - 72 * 2;
		
		text-align: center;
		@include box-sizing(border-box);

		p {
			margin: 1em 0;
		}
	}
}

.bookmark-form-wrapper .cancel-trigger {
	opacity : 0.5;
	cursor : pointer;

	@include transition(opacity, 0.5s, ease);

	&:hover {
		opacity : 1;
	}
}

@mixin flat-button($primary, $secondary) {
	min-width : 200px;
	min-height : 30px;
	padding: 10px 15px;

	font : {
		family : $montserrat;
		size: 1em;
	}

	color : white;
	background-color : $primary;
	border : 1px solid $secondary;
	cursor : pointer;
	outline : none;
	text-align : center;

	&:active {
		background-color : $secondary;
	}
}

.bookmark-form-wrapper .save-button {
	@include flat-button(#7EB530, #71a02e);
}

.bookmark-form-wrapper .delete-button {
	@include flat-button(#DD381D, #B52C17);
}

.bookmark-form-wrapper form input,
.bookmark-form-wrapper form textarea {
	width: 300px;
	padding: 5px 10px;

	font : {
		family : $ptSans;
		size: 1em;
	}

	outline: none;
	border : 2px solid #555;
	background-color : $black;
	color : white;
	@include transition(border-color, 0.5s, ease);

	&:focus {
		border-color : $lightBlue;
	}
}

.bookmark-form-wrapper form input {
	height: 20px;
}

.bookmark-form-wrapper form textarea {
	height: 80px;
}

.bookmark-form-wrapper form .tag-list {
	margin: 0;
	padding: 0;

	list-style-type: none;

	li {
		vertical-align: middle;
		padding: 5px;
		margin: 5px 10px;
		display: inline-block;

		background-color : #ccc;
		@include transition(opacity, 0.5s, ease);

		&:hover {
			opacity : 0.5;
		}

		p, img {
			display: inline-block;
			vertical-align : middle;
		}

		p {
			margin : 0;
			font : {
				family : $montserrat;
				size : 0.8em;
			} 
			color : $black;
			cursor : default;
		}

		img {
			margin-left : 4px;
			cursor : pointer;
		}
	}
}

.bookmark-form-wrapper form .save-buton {
	width: 200px;
	height: 20px;
	padding: 5px 10px;

	outline: none;
	background-color: #22a8e8;
	color: white;
}